@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --foreground-secondary: #6b7280;
  --card: #ffffff;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  --primary: #0e1116;
  --primary-foreground: #ffffff;
  --secondary: #e5e7eb;
  --secondary-foreground: #1f2937;
  --tertiary: #ffffff;
  --tertiary-foreground: #4b5563;
  --muted: #f3f4f6;
  --muted-foreground: #9ca3af;
  --accent: #f3f4f6;
  --accent-foreground: #1f2937;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: transparent;
  --input-background: #f3f4f6;
  --ring: #3b82f6;
  --radius: 0.5rem;

  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;

  --success: #bbf7d0;
  --success-foreground: #22c55e;
  --warning: #fef9c3;
  --warning-foreground: #f59e0b;
  --error: #fecaca;
  --error-foreground: #ef4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f9fafb;
    --foreground-secondary: #9ca3af;
    --card: #111827;
    --card-foreground: #f9fafb;
    --popover: #111827;
    --popover-foreground: #f9fafb;
    --primary: #ffffff;
    --primary-foreground: #111827;
    --secondary: #1f2937;
    --secondary-foreground: #f9fafb;
    --muted: #1c1c1e;
    --muted-foreground: #6b7280;
    --accent: #1f2937;
    --accent-foreground: #f9fafb;
    --destructive: #f87171;
    --destructive-foreground: #f9fafb;
    --border: #374151;
    --input: transparent;
    --input-background: #1f2937;
    --ring: #60a5fa;

    --primary-50: #1e3a8a;
    --primary-100: #1e40af;
    --primary-200: #1d4ed8;
    --primary-300: #2563eb;
    --primary-400: #3b82f6;
    --primary-500: #60a5fa;
    --primary-600: #93c5fd;
    --primary-700: #bfdbfe;
    --primary-800: #dbeafe;
    --primary-900: #eff6ff;

    --success: #4ade80;
    --success-foreground: #1f2937;
    --warning: #fbbf24;
    --warning-foreground: #1f2937;
    --error: #ef4444;
    --error-foreground: #fecaca;
  }
}
